* {
	box-sizing: border-box;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

canvas {
	background: linear-gradient(to bottom, #286ec9, #00224d);
}

.r3f-canvas {
	touch-action: none;
}
